/*Style sheet for eastbayrepairs.com*/

/*Introduction; class="intro"*/
.intro {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://images.pexels.com/photos/1569003/pexels-photo-1569003.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

div.intro:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 8;
    display: block;
}

div.intro li {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}

div.intro li.right {float: right;}

div.intro li.title {
	position: absolute;
	margin: 30px;
	top: 30%;
	color: white;
}

div.intro li.title-link {
	position: absolute;
	margin: 60px;
	top: 60%;
	color: white;
}

div.intro li a:active {background-color: #4CAF50;}
div.intro li a:link {color: white;}
div.intro li a:visited {color: white;}

/*navigation bar; class="topnav"*/
ul.topnav {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #333;
 	position: sticky;
 	top: 0;
 	z-index: 1;
}

ul.topnav li {float: left;}
ul.topnav li.right {float: right;}

ul.topnav li a {
 	display: block;
 	color: white;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

.active {
  background-color: #4CAF50;
}

ul.topnav li a.right {float: right;}

/* screen-size responsive
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
*/

/*About Us; class="about"*/
div.about{
	height: 400px;
}

/*Estimate Reminder; class="reminder"*/
div.reminder {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://marketplace.canva.com/MADGvodULvM/7/screen/canva-flat-lay-photography-of-hand-tools-MADGvodULvM.jpg");
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

div.reminder p.reminder-text {
	position: absolute;
	text-align: center;
	margin: 30px;
	top: 30%;
	color: white;
}

div.reminder p.reminder-link {
	position: absolute;
	text-align: center;
	margin: 60px;
	top: 60%;
	color: white;
}

/*Handyman Services; class="services"*/
div.services {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

#job-types {
	text-align: center;
	margin: 60px;
}

div.services li.mission-title {
	color: white;
}

div.services li.mission-text {
	color: white;
}

/*Mission Statement; class="commitment"*/
div.commitment {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://images.pexels.com/photos/113726/pexels-photo-113726.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

#mission {
	text-align: center;
	margin: 60px;
	color: white;
}

div.commitment li.mission-title {
	color: white;
}

div.commitment li.mission-text {
	color: white;
}

/*Free Estimate; class="contact-form"*/

/*Contact Us; class="footer"*/
div.footer {

}