/*Style sheet for eastbayrepairs.com*/

/*Introduction; class="intro"*/
.intro {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://images.pexels.com/photos/1569003/pexels-photo-1569003.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

.text {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
	color: white;
}

div.intro:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 8;
    display: block;
}

div.intro li {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
	z-index: 9;
}

div.intro li.top-contact {
	float: right;
	right-margin: 50px;
}

div.intro li.title {
	position: absolute;
	margin: 30px;
	top: 30%;
	color: white;
}

div.intro li.title-link {
	position: absolute;
	margin: 60px;
	top: 60%;
	color: white;
}

div.intro a.title-link {
	border-style: double;
	padding: 20px;
}

div.intro li a:link {color: white;}
div.intro li a:visited {color: white;}

/*navigation bar; class="topnav"*/
ul.topnav {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #333;
 	position: sticky;
 	top: 0;
 	z-index: 10;
}

ul.topnav li {float: left;}
ul.topnav li.right {float: right;}


ul.topnav li a {
 	display: block;
 	color: white;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
}

ul.topnav li a:hover {background-color: #4CAF50;}
ul.topnav li a:active {background-color: #4CAF50;}

.active {
  background-color: #4CAF50;
}

ul.topnav li a.right {float: right;}

/* screen-size responsive
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
*/

/*About Us; class="about"*/
div.about{
	height: 500px;
}

#aboutUs {
	float: left;
	width: 20%;
	margin: 75px;
	padding-left: 5%;
}

#slideshow {
	float: right;
	width: 20%;
	margin: 10px;
	padding-right: 5%;
}

/*Estimate Reminder; class="reminder"*/
div.reminder {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://marketplace.canva.com/MADGvodULvM/7/screen/canva-flat-lay-photography-of-hand-tools-MADGvodULvM.jpg");
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	align-items: center;
}

div.reminder p a:active {background-color: #4CAF50;}
div.reminder p a:link {color: white;}
div.reminder p a:visited {color: white;}

div.reminder:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 8;
    display: block;
}

div.reminder p {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: center;
	z-index: 9;
}

div.reminder p.reminder-text {
	position: relative;
	text-align: center;
	top: 30%;
	color: white;
}

div.reminder p.reminder-link {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 30%;
	color: white;
}

div.reminder a.reminder-link {
	border-style: double;
	padding: 20px;
}

/*Handyman Services; class="services"*/
div.services {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
}

#job-types {
	text-align: center;
	margin: 60px;
}

div.services p {
}

#landscaping {
	float: left;
	width: 20%;
	margin: 10px;
	padding-left: 5%;
}

#painting {
	float: left;
	width: 20%;
	margin: 10px;
}

#carpentry {
	float: right;
	width: 20%;
	margin: 10px;
	padding-right: 5%;
}

#installation {
	float: right;
	width: 20%;
	margin: 10px;
}

/*Mission Statement; class="commitment"*/
div.commitment {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("https://images.pexels.com/photos/113726/pexels-photo-113726.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
	color: white;
}

div.commitment:hover > .overlay {
	position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 8;
    display: block;
}

div.commitment p {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	z-index: 9;
}

#mission {
	text-align: center;
	margin: 60px;
	color: white;
	z-index: 9;
}

#ourMission {
	float: left;
	width: 20%;
	margin: 10px;
	padding-left: 5%;
}

#timely {
	float: left;
	width: 20%;
	margin: 10px;
}

#green {
	float: right;
	width: 20%;
	margin: 10px;
	padding-right: 5%;
}

div.commitment p {
	position: absolute;
	color: white;
}

/*Free Estimate; class="contact-form"*/
div.contact-form {
	text-align: center;
}

/*Contact Us; class="footer"*/
div.footer {
	text-align: center;
	background-color: gray;
	color: white;
}